@page "/"
@using HealingYourDivineSelf.Pages.Components
<PageTitle>Index</PageTitle>

<Frame1 />

<div class="frame1">
<ManifestingYourDreamLife/>
</div>
<div class="frame1">
    <ForensicEnergyHealing />
</div>
<div class="frame1">
    <LoveRebornCoaching />
</div>
<div class="frame1">
    <ChakraHealing/>
</div>
<div class="frame1">
    <Workshop />
</div>
<div class="frame1">
    <GrabACopy />
</div>
<div class="frame1">
    <HealingProgram />
</div>
@* <SurveyPrompt Title="How is Blazor working for you?" />
 *@