@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<PageTitle>Healing Your Divine Self</PageTitle>
<div class="container-fluid m-0 p-0 bg-light overflow-hidden">
    <div class="row">
        <div class="col">
            <div class="c2 top-row  align-items-center text-center " >
                @fullImagePath
                <a class="cw text-decoration-none" href="https://docs.microsoft.com/aspnet/" target="_blank">Awaken Your True Essence: Sign Up for Our FREE 'Healing Your Divine Self' Workshop Today1!</a>
            </div>

       
    </div>
    
</div>

    <div class="row">
        <div class="col">
            @* <div class="container-fluid m-0 p-0  "> *@
                <TopNavBar />
            @* </div> *@
        </div>
    </div>
 @* <div class="container">    *@
@* <div class="page d-flex flex-column" >
    
    <div class="c2 top-row  align-items-center text-center " style="color:white;background-color:#11403D;font-size:20px;">
        <a class="cw text-decoration-none" href="https://docs.microsoft.com/aspnet/" target="_blank">Awaken Your True Essence: Sign Up for Our FREE 'Healing Your Divine Self' Workshop Today!</a>
    </div>


    <div class="container ">
        <TopNavBar />

    </div> *@
   

        <div class="container-fluid" style="margin:0 !important;padding:0 !important;">
            @Body
        </div>
    <footer class="bottom-50 text-center d-flex align-items-center justify-content-center" style="position:relative;bottom:1000px; background-color: #103F3C; color:white;">
        <p class="mb-0 py-2">Copyright © 2024 Healing your divine self - All Rights Reserved.</p>
        </footer>

</div>
@* </div>
 *@

 @code{
    private string fullImagePath;

    protected override void OnInitialized()
    {
        fullImagePath = NavigationManager.BaseUri + "images/11.png";
    }
 }