<nav class="navbar justify-content-center">
    <div class="logo">

        <a href="/">  <img src="image/11.png" alt="Logo" /></a>
        @* <span>NANCYLTA ALLAN</span> *@
    </div>
    <ul class="nav-links">
        <li><a href="/">HOME</a></li>
        <li><a href="/services">TRANSFORMATIVE SERVICES</a></li>
        <li><a href="/programs">HEALING PROGRAMS</a></li>
        <li><a href="/contact">CONTACT US</a></li>
    </ul>
</nav>


@* 
<div class="container">
    <header class="d-flex justify-content-between">
        <NavLink href="/home" class="nav-item nav-link justify-content-evenly">
            <img src="./image/11.png" alt="Home" style="width: 150px; height: 150px; margin-right: 8px;" />

        </NavLink>
        <ul class="nav" style="color:brown;">
            <li>
                <NavLink href="/" class="text-brown nav-link text-decoration-none">Home</NavLink>
            </li>
            <li>
                <NavLink href="/About" class="text-brown nav-link text-decoration-none">About Us</NavLink>
            </li>
            <li>
                <NavLink href="/About" class="text- nav-link text-decoration-none">About Us</NavLink>
            </li>
        </ul>
    </header>
</div> *@
@code {

}
