<div class="f1 d-flex align-items-center justify-content-center "
    >
    <p>
        "Let go of the past, embrace the present, and step into a <br />
        future guided by purpose and love."
    </p>
</div>
<div class="justify-content-center align-items-center" >
    <center>
    <!-- Image centered with specified width and height -->
    <div class="f2">
          
            <img src="./image/logo1.png" alt="Image" />
    </div>
    </center>
    <div class="f3">
    <!-- Title text -->
        <p class="f1p" >
        Healing Your Divine Self: A Journey<br>
        of Self-Discovery, Love, and<br>
        Acceptance
       
    </p>

    <!-- Body text -->
        <p class="f1p1" >
        Have you ever felt lost, disconnected, or trapped by the weight of your past? <br><br />
        Maybe you’re carrying wounds that refuse to heal, limiting beliefs that stifle your potential, or<br /> 
        a nagging sense of unworthiness that keeps you from fully embracing who you are. <br><br>
        These struggles can leave you feeling stuck, isolated, and longing for something more—a<br /> 
        deeper connection to yourself and a greater sense of purpose. <br><br>
        Healing Your Divine Self is a transformative journey that addresses these challenges head-on.<br /> 
        It’s about rediscovering the parts of yourself that have been hidden beneath layers of pain and doubt. <br><br>
        By reconnecting with your inner essence, you’ll begin to release the emotional burdens and<br />
        fears that no longer serve you. This process helps you embrace your true self, recognizing<br /> your divine worthiness and unique light. <br><br>
        Through this journey, you’ll learn to let go of limiting beliefs and cultivate authenticity,<br /> individuality, and self-love. <br><br>
        It’s about finding compassion for yourself, fostering inner peace, and creating space for<br />
        spiritual growth. <br><br>
        As you align with your life’s purpose and passion, you’ll unlock your full potential and radiate<br />
        the inner light that’s always been within you. <br><br>
        Healing your divine self is more than a practice—it’s a pathway to a life of meaning,<br />
        fulfillment, and harmony. <br><br>
        When you embrace this journey, you’re not just healing; you’re stepping into a life guided by<br /> clarity, purpose, and love. <br><br>
            <i>  <strong>The power to transform your life begins with your intention and decision to heal from within.</strong></i>
    </p>
    </div>
</div>


@code {

}
