<div class="c1">
    <a href="https://www.amazon.com/Healing-Your-Divine-Self-Opening/dp/1638129401" target="_blank" class="circle-link">
        @* <i class="icon">🔗dsada</i> *@
    </a>
</div>
@code {

}
